{
{{- '    "apiServer": "' ~ ext.apiServer ~ '",\n' if ext.apiServer is defined else "" -}}
{{- '    "name": "' ~ ext.name ~ '",\n' if ext.name is defined else "" -}}
    "@type": "type.googleapis.com/Powerman.Server"
}