{
{{- '    "server": "' ~ ext.server ~ '",\n' if ext.server is defined else "" -}}
{{- '    "vmName": "' ~ ext.name ~ '",\n' if ext.name is defined else "" -}}
    "@type": "type.googleapis.com/LibVirtExt.VirtualMachine"
}