[Unit]
Description=Kraken distributed state engine
After=network.target network-online.target
Requires=network.target

[Service]
EnvironmentFile=/etc/sysconfig/kraken
Type=notify
WorkingDirectory={{ ansible_env.HOME }}
ExecStart={{ kr_build_dir ~ '/' ~ kr_target }} -id "$KRAKEN_UUID" -ip "$KRAKEN_IP" -ipapi "$KRAKEN_IPAPI" -log "$KRAKEN_LOGLEVEL" -journald -sdnotify
ExecStartPost=/bin/bash -c '/usr/bin/curl -XPOST -H "Content-type: application/json" -d "@$KRAKEN_STATE_FILE" "http://$KRAKEN_IPAPI:3141/cfg/nodes"'

[Install]
WantedBy=multi-user.target