[Unit]
Description=VirtualBox API Service
After=network.target network-online.target
Requires=network.target

[Service]
EnvironmentFile=%{_sysconfdir}/sysconfig/vboxapi
Type=simple
ExecStart=%{_sbindir}/vboxapi -ip "$VBOXAAPI_IP" -port "$VBOXAAPI_PORT" -vbm "$VBOXAAPI_VBM" -base "$VBOXAAPI_BASE"

[Install]
WantedBy=multi-user.target