[Unit]
Description=Kraken distributed state engine
After=network.target network-online.target
Requires=network.target

[Service]
EnvironmentFile=%{_sysconfdir}/sysconfig/kraken
Type=notify
WorkingDirectory=%{?KrakenWorkingDirectory}%{?!KrakenWorkingDirectory:/}
ExecStart=%{_sbindir}/kraken -id "$KRAKEN_UUID" -ip "$KRAKEN_IP" -ipapi "$KRAKEN_IPAPI" -log "$KRAKEN_LOGLEVEL" -journald -sdnotify
# this is a temporary hack to load state
ExecStartPost=sleep 2
ExecStartPost=/bin/bash -c '/usr/bin/curl -XPOST -H "Content-type: application/json" -d "@$KRAKEN_STATE_FILE" "http://$KRAKEN_IPAPI:3141/cfg/nodes"'

[Install]
WantedBy=multi-user.target