[Unit]
Description=Kraken distributed state engine
After=network.target network-online.target
Requires=network.target

[Service]
Type=notify
WorkingDirectory=%{?KrakenWorkingDirectory}%{?!KrakenWorkingDirectory:/}
ExecStart=%{_sbindir}/kraken -config %{_sysconfdir}/kraken/config.yaml -noprefix -sdnotify

[Install]
WantedBy=multi-user.target