KRAKEN_CONFIG_FILE=/etc/kraken/config.yaml
KRAKEN_UUID={{ kraken_id }}
KRAKEN_IP={{ kraken_ip }}
KRAKEN_IPAPI={{ kraken_ipapi }}
KRAKEN_LOGLEVEL={{ kraken_loglevel }}
KRAKEN_STATE_FILE={{ kraken_state_file }}