{
{{- '    "hostname": "' ~ ext.hostname ~ '",\n' if ext.hostname is defined else "" -}}
{%- if ext.ifaces is defined -%}
    "ifaces": {
{%- for alias, iface in ext.ifaces.items() -%}
    "{{ alias }}": {
      "eth": {
{{- '      "mac": "' ~ iface.mac  ~ '",\n' if iface.mac is defined else "" -}}
{{- '      "mtu": "' ~ iface.mtu ~ '",\n' if iface.mtu is defined else "" -}}
{{- '      "control": "' ~ iface.control  ~ '",\n' if iface.control is defined else "" -}}
        "iface": "{{ iface.name }}"
      },
      "ip": {
{{- '      "ip": "' ~ iface.ip ~ '",\n' if iface.ip is defined else "" -}}
{{- '      "subnet": "' ~ iface.subnet ~ '"\n' if iface.subnet is defined else "" -}}
      }
{%- if not loop.last -%}
,
{%- endif -%}
{%- endfor -%}
    }
},
{%- endif -%}
    "@type": "type.googleapis.com/IPv4.IPv4OverEthernet"
}